---
import Layout from "../layouts/Layout.astro";
import InputFieldNumber from "../components/InputFieldNumber.astro";
---
<Layout title="BMI Calculator">
    <div class="space-y-10 flex flex-col items-center" >
        <InputFieldNumber name="height" placeholder="176" class="input-class" label="Height (cm)"/>
        <InputFieldNumber name="weight" placeholder="72" class="input-class" label="Weight (Kg)"/>
        <div class="w-full">Your BMI is: <span id="bmi"></span></div>

        <div class="!mt-16 leading-normal sm:text-base text-sm rounded-md bg-neutral-600 p-3 w-2/3 text-center">
            <p class="text-sky-300">Underweight: <18.5</p>
            <p class="text-green-300">Normal weight: 18.5–24.9</p>
            <p class="text-yellow-300">Overweight: 25–29.9</p>
            <p class="text-red-300">Obesity: >30</p>
        </div>
    </div>
</Layout>

<script>
    document.getElementById('weight').addEventListener('input', calculateBMI);
    document.getElementById('height').addEventListener('input', calculateBMI);

    const $bmi = document.getElementById('bmi');
    const $bmiRange = document.getElementById('bmi-range');

    function calculateBMI() {
        const weight = document.getElementById('weight').value;
        const height = document.getElementById('height').value / 100;
        if (weight > 0 && height > 0) {
            const bmi = weight / (height * height);
            $bmi.classList.remove('text-sky-300', 'text-green-300', 'text-yellow-300', 'text-red-300');

            if (bmi < 18.5) {
                $bmi.classList.add('text-sky-300');
            } else if (bmi >= 18.5 && bmi < 25) {
                $bmi.classList.add('text-green-300');
            } else if (bmi >= 25 && bmi < 30) {
                $bmi.classList.add('text-yellow-300');
            } else {
                $bmi.classList.add('text-red-300');
            }

            $bmi.textContent = `${bmi.toFixed(2)}`;
            $bmiRange.value = bmi;
        }
    }
</script>
