---
import Layout from "../layouts/Layout.astro";
import ToolLink from "../components/ToolLink.astro";
import InputFieldNumber from "../components/InputFieldNumber.astro";
import InputFieldText from "../components/InputFieldText.astro";
---

<Layout title="Components">
    <div class="flex flex-col gap-10 text-center items-center">
        <ToolLink href="/components" text="Components"/>
        <InputFieldText name="element-name1" placeholder="Type here" label="This is the label name!"/>
        <InputFieldNumber name="element-name2" placeholder="0" label="Enter a number"/>
    </div>
</Layout>