---
import Layout from '../layouts/Layout.astro';
import ToolLink from '../components/ToolLink.astro';
---

<Layout title="Select a Tool">
    <div class="text-center">
        <ul>
            <ToolLink href="/calculator-bmi" text="BMI Calculator"/>
            <ToolLink href="/calculator-running" text="Running Calculator"/>
            <ToolLink href="/password-generator" text="Password Generator"/>
            <ToolLink href="/hasher" text="Hasher"/>
        </ul>
    </div>
</Layout>
