---
import Layout from '../layouts/Layout.astro';
import ToolLink from '../components/ToolLink.astro';
---

<Layout title="Select a Tool">
    <div class="text-center">
        <ul>
            <ToolLink href="/bmi-calculator" text="BMI Calculator"/>
            <ToolLink href="/running-calculator" text="Running Calculator"/>
            <ToolLink href="/compound-interest-calculator" text="Compound Interest Calculator"/>
            <ToolLink href="/password-generator" text="Password Generator"/>
            <ToolLink href="/hasher-generator" text="Hasher Generator"/>
            <ToolLink href="/qr-generator" text="QR Generator"/>
        </ul>
    </div>
</Layout>
