---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
import Toast from "../components/Toast.astro";
---

<Layout title="Password Generator">
    <div class="flex flex-col h-full w-1/2">
        <Toast message="Password copied!"/>
        <div id="lengthNumber" class="text-7xl text-center mb-16">16</div>
        <Slider name="length" min="4" max="128" value="16"/>
        <div id="password" class="h-0 mt-16 text-center break-all overflow-visible cursor-pointer"></div>
    </div>
</Layout>


<script>
    const $length = document.getElementById('length') as HTMLInputElement;
    const $lengthNumber = document.getElementById('lengthNumber') as HTMLElement;
    const $password = document.getElementById('password') as HTMLElement;
    const $toast = document.getElementById('toast') as HTMLElement;

    $password.addEventListener('click', (e) => {
        navigator.clipboard.writeText((e.target as HTMLElement).textContent || '');
        if ($toast) {
            $toast.style.opacity = "1";
        }
    });

    $length.addEventListener('input', (e) => {
        const target = e.target as HTMLInputElement;
        $lengthNumber.textContent = target.value;
        const value = target.value;
        $password.textContent = generatePassword(Number(value));
    });

    function generatePassword(length: number): string {
        const charset = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+';
        let password = '';
        for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * charset.length);
            password += charset[randomIndex];
        }
        return password;
    }

    $password.textContent = generatePassword(Number($length.value));
</script>