---
---

<footer class=" w-full text-neutral-200 py-4 text-left text-xs">
    <p class="ml-2">made by <a class="text-violet-400 hover:text-violet-200 transition-colors duration-200"
                  href="https://www.linkedin.com/in/diegogliarte" target="_blank">Diego</a></p>
</footer>
