---
const {message} = Astro.props
---


<div id="toast"
     class="absolute bottom-10 m-auto left-0 right-0  flex items-center w-full max-w-xs p-4 bg-neutral-600 rounded-md transition-opacity duration-300 pointer-events-none cursor-pointer opacity-0">
    <div class="inline-flex items-center justify-center w-8 h-8 text-green-300 rounded-lg">
        <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span class="sr-only">Check icon</span>
    </div>
    <div class="w-full text-base text-center">{message}</div>
</div>

<script>
    const $toast = document.getElementById('toast');
    let closeTimeout = null;

    $toast.addEventListener('click', () => {
        clearTimeout(closeTimeout)
        closeTimeout = null
        closeToast()
    });

    $toast.addEventListener('mouseover', () => {
        if (closeTimeout) {
            clearTimeout(closeTimeout)
            closeTimeout = null
        }
    });

    $toast.addEventListener('mouseleave', () => {
        if (closeTimeout) {
            closeTimeout = setTimeout(() => {
                closeToast()
            }, 800);
        }
    });

    $toast.addEventListener('transitionend', () => {
        if ($toast.style.opacity === '1') {

            $toast.style.pointerEvents = "auto";
            closeTimeout = setTimeout(() => {
                closeToast()
            }, 800);
        }
    });

    function closeToast() {
        $toast.style.opacity = '0';
        $toast.style.pointerEvents = "none";
    }


</script>